*~
*.pyc
.*.swp

/*.img
/*.iso
/*.packages

/dist/

/extra_packages/*.rpm
/extra_packages/*/*.rpm
/extra_packages/*/*/*.rpm

/build/*.cpi
/build/*.img
/build/*.lst
/build/*.full-lst
/build/*.exclude
/build/*.pf2
/build/*.gen_init_cpio.list
/build/cache/
/build/grub_early.cfg
/build/grub_early_iso.cfg
/build/log
/build/make.deps
/build/make.vars
/build/root/
/build/uuids
/build/poldek.conf
/build/net_*.efi
/build/netboot.pxe
/build/pld-nr-net.env
